:root {
  --bth-primary-color: #E02049;
  --bth-contrast-color: #41414D;
  --bth-placeholder-contrast-color: #A8A8B3;
  --bth-background-color: #F0F0F5;
  --bth-border-color: #DCDCE6;
  --bth-input-background-color: #FFF;
}
